header h1 {
    margin: 0.5rem auto;
}

footer { 
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
    align-items: center;
}

footer a, footer p {
    text-decoration: none;
    padding: 0 1rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.score-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}