.grid {
    width: 200px;
    height: 400px;
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
}

.display-grid {
    width: 100px;
    height: 600px;
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
}

.grid div, .display-grid div, .mini-grid div  {
    height: 20px;
    width: 20px;
}

.mini-grid {
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
}