.grid {
    width: 250px;
    height: 500px;
    background-color: var(--grid);
    display: flex;
    flex-wrap: wrap;
}

.display-grid {
    width: 600px;
    height: 90px;
    background-color: var(--grid);
    border-top: 5px solid var(--grid);
    border-bottom: 5px solid var(--grid);
    display: flex;
    flex-wrap: wrap;
}

.display-grid div {
    height: 20px;
    width: 20px;
}

.grid div, .mini-grid div  {
    height: 25px;
    width: 25px;
}

.mini-grid {
    width: 100px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--grid);
    margin-bottom: 2rem;
}