.full-container {
    display: flex;
    align-items: flex-end;
}

.main-container {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.left-main-sidebar {
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
}
.container {
    display: flex;
    justify-content: center;
}

.main-button {
    padding: 1rem;
    border-radius: 15px;
    margin-bottom: 1rem;
}

.grid {
    width: 200px;
    height: 400px;
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
}

.display-grid {
    width: 100px;
    height: 600px;
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
}

.grid div, .display-grid div, .mini-grid div  {
    height: 20px;
    width: 20px;
}

.tetromino {
    background-color: salmon;
}

.sidebar {
    margin-left: 50px;
}

.mini-grid {
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
}
