.main-container {
    width: 600px;
    margin: 0 auto;
    text-align: center;
}
.container {
    display: flex;
    justify-content: center;
}

.main-button {
    padding: 1rem;
    border-radius: 15px;
    margin-bottom: 1rem;
}
.grid {
    width: 200px;
    height: 400px;
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
}

.grid div {
    height: 20px;
    width: 20px;
}

.tetromino {
    background-color: salmon;
}

.sidebar {
    margin-left: 50px;
}

.mini-grid {
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: aquamarine;
}

.mini-grid div {
    height: 20px;
    width: 20px;
}
